*.hoge

pas/*
!pas/baseline
pas/baseline/log_plot.py
pas/baseline/out_score.txt
pas/baseline/sub1118_lr0002
pas/baseline/work
!pas/test
pas/test/*
!pas/test/evalpas/
pas/test/evalpas/*
!pas/test/ntcdoc
!pas/test/target
!pas/test/util4s

python/GAN/logs/*
!python/GAN/logs/set_log.py
